*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu,sans-serif';
    font-size: 12px;
}
.nav-link{
    color: white;
}
.staff-info{
    margin-top: 10px;
}
.rounded{
    border-radius: 50% !important;
}